@charset "UTF-8";
/*
----------------------------------
Clases de los tamaños de las fuentes
----------------------------------
*/
.FontSize1 {
  font-size: 8px;
}

.FontSize2 {
  font-size: 10px;
}

.FontSize3 {
  font-size: 12px;
}

.FontSize4 {
  font-size: 14px;
}

.FontSize5 {
  font-size: 16px;
}

.FontSize6 {
  font-size: 18px;
}

.FontSize7 {
  font-size: 20px;
}

.FontSize8 {
  font-size: 22px;
}

.FontSize9 {
  font-size: 26px;
}

.FontSize11 {
  font-size: 40px;
}

/*SELECT DE PAIS*/
.icon-selectPais {
  height: 20px;
  width: 20px;
  transition: transform 0.2s 0s ease-in-out;
}

.select-containerPais {
  width: 200px;
  margin: 10px 20px;
  padding: 0 20px;
}

.selectPais {
  width: 200px;
  position: relative;
}

.selected-optionPais {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-radius: 20px;
  border: solid 2px #e98f25;
  cursor: pointer;
}

.select-valuePais, .icon-selectPais {
  padding: 2px 10px;
}

.optionsPais {
  position: absolute;
  text-align: left;
  background-color: #000;
  width: 100%;
  padding: 15px 0;
  margin-top: 10px;
  border: solid 2px #e98f25;
  border-radius: 10px;
  z-index: 2;
}

.optionsPais[data-pais=collapsedPais] {
  display: none;
}

.icon-selectPais[data-paisicon=""] {
  transform: rotate(180deg);
  transition: transform 0.2s 0s ease-in-out;
}

.optionPais {
  padding: 5px 10px;
  cursor: pointer;
}

.optionPais:hover {
  background-color: #202020;
}

/*SELECT DE CIUDAD*/
.icon-selectCiudad {
  height: 20px;
  width: 20px;
  transition: transform 0.2s 0s ease-in-out;
}

.select-containerCiudad {
  width: 200px;
  margin: 10px 20px;
  padding: 0 20px;
}

.selectCiudad {
  width: 200px;
  position: relative;
}

.selected-optionCiudad {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-radius: 20px;
  border: solid 2px #e98f25;
  cursor: pointer;
}

.select-valueCiudad, .icon-selectCiudad {
  padding: 2px 10px;
}

.optionsCiudad {
  position: absolute;
  text-align: left;
  background-color: #000;
  width: 100%;
  padding: 15px 0;
  margin-top: 10px;
  border: solid 2px #e98f25;
  border-radius: 10px;
  z-index: 2;
}

.optionsCiudad[data-ciudad=collapsedCiudad] {
  display: none;
}

.icon-selectCiudad[data-ciudadicon=""] {
  transform: rotate(180deg);
  transition: transform 0.2s 0s ease-in-out;
}

.optionCiudad {
  padding: 5px 10px;
  cursor: pointer;
}

.optionCiudad:hover {
  background-color: #202020;
}

/*SELECT DE Tipoproducto*/
.icon-selectTipoproducto {
  height: 20px;
  width: 20px;
  transition: transform 0.2s 0s ease-in-out;
}

.select-containerTipoproducto {
  width: 200px;
  margin: 10px 20px;
  padding: 0 20px;
}

.selectTipoproducto {
  width: 200px;
  position: relative;
}

.selected-optionTipoproducto {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-radius: 20px;
  border: solid 2px #e98f25;
  cursor: pointer;
}

.select-valueTipoproducto, .icon-selectTipoproducto {
  padding: 2px 10px;
}

.optionsTipoproducto {
  position: absolute;
  text-align: left;
  background-color: #000;
  width: 100%;
  padding: 15px 0;
  margin-top: 10px;
  border: solid 2px #e98f25;
  border-radius: 10px;
  z-index: 2;
}

.optionsTipoproducto[data-tipoproducto=collapsedTipoproducto] {
  display: none;
}

.icon-selectTipoproducto[data-tipoproductoicon=""] {
  transform: rotate(180deg);
  transition: transform 0.2s 0s ease-in-out;
}

.optionTipoproducto {
  padding: 5px 10px;
  cursor: pointer;
}

.optionTipoproducto:hover {
  background-color: #202020;
}

/*SELECT DE Tamaño*/
.icon-selectTamaño {
  height: 20px;
  width: 20px;
  transition: transform 0.2s 0s ease-in-out;
}

.select-containerTamaño {
  width: 200px;
  margin: 10px 20px;
  padding: 0 20px;
}

.selectTamaño {
  width: 200px;
  position: relative;
}

.selected-optionTamaño {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-radius: 20px;
  border: solid 2px #e98f25;
  cursor: pointer;
}

.select-valueTamaño, .icon-selectTamaño {
  padding: 2px 10px;
}

.optionsTamaño {
  position: absolute;
  text-align: left;
  background-color: #000;
  width: 100%;
  padding: 15px 0;
  margin-top: 10px;
  border: solid 2px #e98f25;
  border-radius: 10px;
  z-index: 2;
}

.optionsTamaño[data-tamaño=collapsedTamaño] {
  display: none;
}

.icon-selectTamaño[data-tamañoicon=""] {
  transform: rotate(180deg);
  transition: transform 0.2s 0s ease-in-out;
}

.optionTamaño {
  padding: 5px 10px;
  cursor: pointer;
}

.optionTamaño:hover {
  background-color: #202020;
}

/*SELECT DE Valoracion*/
.icon-selectValoracion {
  height: 20px;
  width: 20px;
  transition: transform 0.2s 0s ease-in-out;
}

.select-containerValoracion {
  width: 200px;
  margin: 10px 20px;
  padding: 0 20px;
}

.selectValoracion {
  width: 200px;
  position: relative;
}

.selected-optionValoracion {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-radius: 20px;
  border: solid 2px #e98f25;
  cursor: pointer;
}

.select-valueValoracion, .icon-selectValoracion {
  padding: 2px 10px;
}

.optionsValoracion {
  position: absolute;
  text-align: left;
  background-color: #000;
  width: 100%;
  padding: 15px 0;
  margin-top: 10px;
  border: solid 2px #e98f25;
  border-radius: 10px;
  z-index: 2;
}

.optionsValoracion[data-valoracion=collapsedValoracion] {
  display: none;
}

.icon-selectValoracion[data-valoracionicon=""] {
  transform: rotate(180deg);
  transition: transform 0.2s 0s ease-in-out;
}

.optionValoracion {
  width: 179px;
  height: 20px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.optionDefect {
  width: 179px;
  height: 20px;
  padding: 5px 10px;
  cursor: default;
  display: flex;
}

.optionValoracion:hover {
  background-color: #202020;
}

.Filtro-container {
  width: 100%;
  height: 150px;
  background-color: #000;
  border-bottom: solid 3px transparent;
  -o-border-image: linear-gradient(90deg, rgb(188, 87, 47) 0%, #e98f25 26%, rgb(227, 207, 127) 48%, rgb(233, 143, 37) 80%, rgb(188, 87, 47) 100%) 1;
     border-image: linear-gradient(90deg, rgb(188, 87, 47) 0%, #e98f25 26%, rgb(227, 207, 127) 48%, rgb(233, 143, 37) 80%, rgb(188, 87, 47) 100%) 1;
  text-align: center;
}

.DosFiltros {
  width: 600px;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: calc(50% - 300px);
}

.TresFiltros {
  width: 800px;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: calc(50% - 400px);
}

.TituloFiltro {
  font-size: 30px;
  padding-top: 25px;
}

.prueba {
  display: block;
  height: 15px;
}/*# sourceMappingURL=Filtros.css.map */