@charset "UTF-8";
/*
----------------------------------
Clases de los tamaños de las fuentes
----------------------------------
*/
.FontSize1 {
  font-size: 8px;
}

.FontSize2 {
  font-size: 10px;
}

.FontSize3 {
  font-size: 12px;
}

.FontSize4 {
  font-size: 14px;
}

.FontSize5 {
  font-size: 16px;
}

.FontSize6 {
  font-size: 18px;
}

.FontSize7 {
  font-size: 20px;
}

.FontSize8 {
  font-size: 22px;
}

.FontSize9 {
  font-size: 26px;
}

.FontSize11 {
  font-size: 40px;
}

@font-face {
  font-family: "Primary";
  src: url("https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Parrafo";
  src: url("https://fonts.gstatic.com/s/archivonarrow/v30/tss2ApVBdCYD5Q7hcxTE1ArZ0bb1iXlw398pJxk.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Canji";
  src: url("https://fonts.gstatic.com/s/newtegomin/v10/SLXMc1fV7Gd9USdBAfPlqfN0Q3ptkDMN.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Secundary";
  src: url("https://fonts.gstatic.com/s/fredoka/v14/X7nP4b87HvSqjb_WIi2yDCRwoQ_k736J_B-i2yQag0-mac3OFiXMFuOLlNldbw.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
}
@font-face {
  font-family: "Estrella";
  src: url(../Fonts/wingdings-cufonfonts/wingding.ttf);
}
/*
---------------------------------------
Fuente con sombra larga
---------------------------------------
*/
.FontPromo {
  text-shadow: #682207 1px 1px, #5d1e06 2px 2px, #511b06 3px 3px, #461705 4px 4px, #3a1304 5px 5px, #2e0f03 6px 6px, #230b02 7px 7px, #170802 8px 8px, #0c0401 9px 9px, black 10px 10px, #742608 0px 0px;
  font-family: "Secundary";
  color: #e98f25;
  font-size: 30px;
}

.FontPromoTitulo {
  text-shadow: #682207 1px 1px, #5d1e06 2px 2px, #511b06 3px 3px, #461705 4px 4px, #3a1304 5px 5px, #2e0f03 6px 6px, #230b02 7px 7px, #170802 8px 8px, #0c0401 9px 9px, black 10px 10px, #742608 0px 0px;
  font-family: "Secundary";
  color: #e98f25;
  font-size: 40px;
}

/*
---------------------------------------------
FontAni contiene una animacion en el cual se mueve la gradient que contienen las letras
---------------------------------------------
*/
.FontAni {
  font-family: "Primary";
  background: linear-gradient(90deg, #bc572f 0%, rgb(233, 143, 37) 26%, rgb(227, 207, 127) 48%, rgb(233, 143, 37) 80%, rgb(188, 87, 47) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.FontAni:hover {
  animation: slidebg 60s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 150vw;
  }
}
/*
--------------------------------------
Fuente que contiene de color una gradient
--------------------------------------
*/
.FontPrimary {
  font-family: "Primary";
  background: linear-gradient(90deg, #bc572f 0%, rgb(233, 143, 37) 26%, rgb(227, 207, 127) 48%, rgb(233, 143, 37) 80%, rgb(188, 87, 47) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.FontParrafo {
  font-family: "Parrafo";
  color: #e98f25;
}

.FontCanji {
  font-family: "Canji";
  background: linear-gradient(90deg, #bc572f 0%, rgb(233, 143, 37) 26%, rgb(227, 207, 127) 48%, rgb(233, 143, 37) 80%, rgb(188, 87, 47) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.FontEstrella {
  font-family: "Estrella";
  background: linear-gradient(90deg, #bc572f 0%, rgb(233, 143, 37) 26%, rgb(227, 207, 127) 48%, rgb(233, 143, 37) 80%, rgb(188, 87, 47) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  margin-top: 2px;
}

/*
---------------------------------
Fuente unicolor y estatico
---------------------------------
*/
.FontSecundary {
  font-family: "Primary";
  color: #000;
}

/*
-----------------------------------------------
BOTON MENU
COMO USAR
<button class="BtnMenu"><span class="FontAni">Ver Menú</span></button>
-----------------------------------------------
*/
.BtnMenu {
  width: 100px;
  height: 30px;
  background: #004000;
  font-size: 16px;
  border: solid 3px;
  border-color: #e98f25;
  border-radius: 20px;
}

/*
--------------------------------------
Botones que son solo letras
COMO USAR:
<div class="BtnNav"><span class="FontAni">INICIO</span></div>
--------------------------------------
*/
.BtnNav {
  font-size: 16px;
}

/*
---------------------------------------
Botones que son solo iconos
COMO USAR: 
<img src="../Atoms/Icons/acceso.png" alt="acceso" class="BtnIcons">
---------------------------------------
*/
.BtnIcons {
  display: block;
  width: 40px;
}

/*
----------------------------------------------------
Efecto de los botones
----------------------------------------------------
*/
.BtnNav:hover {
  font-size: 18px;
  margin-left: -5px;
  cursor: pointer;
  transform-origin: center center;
}

.BtnIcons:hover {
  animation: rotationIcon 0.5s forwards;
  cursor: pointer;
}

@keyframes rotationIcon {
  from {
    transform: scale(1.1) rotate(0deg);
  }
  to {
    transform: scale(1.1) rotate(360deg);
  }
}
/*
-----------------------------------------
Indicador de que el establecimiento esta abierto
-----------------------------------------
*/
.ABIERTO {
  width: 100px;
  height: 22px;
  border: solid 3px #e98f25;
  border-radius: 20px;
  background-color: #00f552;
  font-family: "Primary";
  color: #000;
  font-size: 16px;
  text-align: center;
  padding: 0;
}

/*
-----------------------------------------
Indicador de que el establecimiento esta cerrado
-----------------------------------------
*/
.CERRADO {
  width: 100px;
  height: 22px;
  border: solid 3px #e98f25;
  border-radius: 20px;
  background-color: #f50039;
  font-family: "Primary";
  color: #000;
  font-size: 16px;
  text-align: center;
  padding: 0;
}

.ContadorProductos {
  width: 30px;
  height: 30px;
  background-color: #000;
  border: 2px solid #e98f25;
  border-radius: 50%;
  text-align: center;
}

.cls-1 {
  fill: gold;
  max-width: 20px;
  margin: -10px;
}

.BtnEstrellasRestaurante {
  display: flex;
  background-color: #000;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 3px solid #e98f25;
}

.BtnEstrellasRestaurante:hover {
  transform: scale(1.1);
}

.BtnEstrellasProducto {
  background-color: transparent;
  display: flex;
  width: 220px;
  height: 80%;
  border: none;
  align-items: center;
  margin-left: 9%;
  margin-top: 7px;
}

.BtnEstrellasProducto:hover {
  transform: scale(1.1);
}

.Restaurantes {
  width: calc(100% - 90px);
  height: 250px;
  background-color: #000;
  border: 3px solid #e98f25;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
}

.ImgRestaurante {
  height: calc(100% - 16px);
  display: block;
  border: 2px solid #e98f25;
  border-radius: 10px;
  margin: 6px 25px;
}

.InfoRestaurante {
  height: 100%;
  width: 600px;
  text-align: center;
}

.IconTelefonoR {
  padding-top: 15px;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.TelefonoRestaurante {
  display: flex;
  width: 250px;
  margin: 0 auto;
  justify-content: center;
}

.BtnRestaurante {
  width: 200px;
  justify-content: center;
}

.ABIERTO, .CERRADO {
  margin: 20px auto 40px;
}

.BtnMenu {
  margin: 40px calc(50% - 50px) 20px;
}

.BtnEstrellasRestaurante {
  margin: 20px auto 40px;
}/*# sourceMappingURL=Restaurantes.css.map */