    $Closed: #f50039;
    $Menu: #004000;
    $Open: #00f552;
    $Primary: #000;
    $Secundary: linear-gradient(90deg, #bc572f 0%, rgba(233,143,37,1) 26%, rgba(227,207,127,1) 48%, rgba(233,143,37,1) 80%, rgba(188,87,47,1) 100%);
    $Manteniment: #CECECE;
    $HoverSelect: #202020;
    $BorderImagen: linear-gradient(90deg, rgba(188,87,47,1) 0%, #e98f25 26%, rgba(227,207,127,1) 48%, rgba(233,143,37,1) 80%, rgba(188,87,47,1) 100%)1;
    $Border: #e98f25;
    $Promo: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000);
    $Letras: #742608;
    $Calificacion: gold;
    $modal: rgba(0,0,0,0.8);