@use "../../Atoms/Colors/Colors.scss" as C;
@use "../../Molecules/GrupButtons/GrupButtons.scss";

.Footer {
    width: 100%;
    height: 200px;
    background-color: C.$Primary;
    border-top: solid 3px transparent;
    border-image: C.$BorderImagen;
}
.Download {
    position: relative;
    left: 500px;
    top: 50px;
}
.Redes {
    position: relative;
    left: 400px;
    top: 25px;
}