$FontSize1: 8px;
$FontSize2: 10px;
$FontSize3: 12px;
$FontSize4: 14px;
$FontSize5: 16px;
$FontSize6: 18px;
$FontSize7: 20px;
$FontSize8: 22px;
$FontSize9: 26px;
$FontSize10: 30px;
$FontSize11: 40px;
$FontSize12: 60px;
/*
----------------------------------
Clases de los tamaños de las fuentes
----------------------------------
*/
.FontSize1 {
    font-size: 8px;
}
.FontSize2{
    font-size: 10px;
}
.FontSize3{
    font-size: 12px;
}
.FontSize4{
    font-size: 14px;
}
.FontSize5{
    font-size: 16px;
}
.FontSize6{
    font-size: 18px;
}
.FontSize7{
    font-size: 20px;
}
.FontSize8{
    font-size: 22px;
}
.FontSize9{
    font-size: 26px;
}
.FontSize11 {
    font-size: 40px;
}